<script context="module">
   export async function load({ page, fetch, session, context }) {
      const res = await fetch(`/api${page.path}.json`)

      if (res.status === 200) {
         const article = await res.json()
         const slug = page.params.slug
         return { props: { article, slug, page }}
      } else {
         return {
            status: res.status,
            error: new Error(`/api${page.path} not found`),
         }
      }
   }
</script>

<script>
   import { onMount } from "svelte"

   export let article, slug, page

   let firstTimeIntersected = true
   let currenthash
   // let basetoclvl = 3 TODO

   // Automatically detect the heading#anchor_name that is on the first half of the viewport
   // By updating the url hash accordingly, we can highlight the table of content respective item
   onMount(async () => {
      const options = {
         root: null,
         rootMargin: "0px 0px -70% 0px",
         threshold: 1.0,
      }
      const callback = (changes, observer) => {
         if (firstTimeIntersected) {
            // Avoid the first page load
            firstTimeIntersected = false
            return
         }
         for (let change of changes) {
            const target = change.target
            if (target.nodeName === "H2") {
               // Remove hash for the title
               window.history.replaceState(null, null, `/blog/${slug}`)
            } else if (target.id && change.isIntersecting) {
               window.history.replaceState(null, null, `/blog/${slug}#${target.id}`)
               currenthash = target.id
            }
         }
      }
      const observer = new IntersectionObserver(callback, options)
      for (let element of document.querySelectorAll("h2, h3, h4, h5, h6")) {
         observer.observe(element)
      }

      currenthash = window.location.hash
   })
</script>

<svelte:head>
   <title>{article.frontmatter.title} - @sgametrio</title>
   <link href="/highlight-atom-one-dark.css" rel="stylesheet" />
   <meta property="og:type" content="article" />
   <meta property="og:url" content="https://{page.host}{page.path}" />
   <meta property="og:title" content={article.frontmatter.title} />
   <meta property="og:description" content={article.frontmatter.description} />
   <meta property="og:image" content={article.frontmatter.previewurl} />
   <meta name="twitter:card" content="summary_large_image" />
</svelte:head>

<div class="flex my-6 text-lg lg:ml-32 lg:pl-8 xl:pl-0 lg:flex-row-reverse max-w-screen">
   <ul class="sticky top-0 hidden w-0 h-0 lg:inline-block lg:h-64 lg:w-72 lg:ml-8 lg:pt-8">
      <h3 class="mb-2 font-semibold">Table of content</h3>
      {#each article.tableofcontent as entry, i}
         <!-- Avoid the first header which is the title of the article -->
         {#if i !== 0}
            <li
               class="text-sm xl:text-base px-2 py-1 block rounded-lg {currenthash === entry.slug
                  ? 'text-blue-600 font-semibold bg-blue-100'
                  : 'text-gray-600'}"
            >
               <a href="/blog/{slug}#{entry.slug}">{entry.content}</a>
            </li>
         {/if}
      {/each}
   </ul>
   <div class="mx-auto">
      <span class="block mb-1 text-sm text-gray-600 lg:text-base xl:text-lg xl:mb-2">{article.frontmatter.nicedate}</span>
      <article
         class="leading-normal prose-sm prose md:prose lg:prose-lg xl:prose-xl max-w-screen-10"
      >
         {@html article.html}
      </article>
   </div>
</div>

<style>
   @media (max-width: 767px) {
      .max-w-screen-10 {
         max-width: 90vw;
      }
   }
</style>
