<script context="module">
   export async function load({ page, session, fetch, context }) {
      const res = await fetch("/api/blog/list.json")

      if (res.status === 200) {
         const articles = await res.json()
         return { props: { articles } }
      } else {
         return {
            status: res.status,
            error: new Error("List of articles at '/api/blog/list.json' not found."),
         }
      }
   }
</script>

<script>
   import ArticleItem from "$lib/components/article-item.svelte"

   export let articles
</script>

<svelte:head>
   <title>Blog articles - @sgametrio</title>
</svelte:head>

<div class="mt-6 space-y-6 text-lg lg:mx-32 lg:px-8">
   <h2 class="font-semibold text-black md:text-xl">Blog</h2>
   <ul class="mt-8 space-y-4">
      {#each articles as article, i}
         <ArticleItem {article} index={i} />
      {/each}
   </ul>
</div>
