/* latin */
@font-face {
   font-family: 'Merriweather';
   font-style: normal;
   font-weight: 400;
   src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v19/u-440qyriQwlOrhSvowK_l5-fCZM.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
   font-family: 'Fira Sans';
   font-style: normal;
   font-weight: 300;
   src: local('Fira Sans Light'), local('FiraSans-Light'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnPKreRhf6.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* latin */
@font-face {
   font-family: 'Fira Sans';
   font-style: normal;
   font-weight: 400;
   src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(https://fonts.gstatic.com/s/firasans/v10/va9E4kDNxMZdWfMOD5Vvl4jL.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
   font-family: 'Fira Sans';
   font-style: normal;
   font-weight: 500;
   src: local('Fira Sans Medium'), local('FiraSans-Medium'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnZKveRhf6.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

 /* latin */
@font-face {
   font-family: 'Fira Sans';
   font-style: normal;
   font-weight: 600;
   src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnSKzeRhf6.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
   font-family: 'Fira Sans';
   font-style: normal;
   font-weight: 700;
   src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnLK3eRhf6.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* Base styles */
:root {
   --font-prose: "Fira Sans", sans-serif;
   --font-title: "Merriweather", sans-serif;
}

html {
   scroll-behavior: smooth;
}

body {
   height: 100vh;
   font-family: var(--font-prose);
}

h1, h2, h3 {
   font-family: var(--font-title);
}

.prose img, .prose-lg img, .prose-xl img {
   margin-left: auto;
   margin-right: auto;
}

.max-w-screen {
   max-width: 100vw;
}

/* Global CSS classes */
.hover\:bg-gradient:hover {
   background: linear-gradient(315deg, rgba(255,0,0,1) 0%, rgba(255,72,0,1) 39%, rgba(255,188,0,1) 100%);
   background-clip: padding-box;
}

.bg-gradient {
   background: linear-gradient(355deg, rgba(255,0,0,1) 0%, rgba(255,72,0,1) 39%, rgba(255,188,0,1) 100%);
   background-clip: padding-box;
}

.bg-gradient-blue {
   background: linear-gradient(355deg, rgba(9,41,121,1) 0%, rgba(7,67,150,1) 32%, rgba(0,159,255,1) 100%);
   background-clip: padding-box;
}

.bg-gradient-blue-2 {
   background: linear-gradient(35deg, rgb(10, 46, 138) 0%, rgb(7, 71, 160) 32%, rgba(0,159,255,1) 100%);
   background-clip: padding-box;
}
