<div
   class="inline-flex items-center p-2 mx-auto leading-none text-white rounded-full bg-gradient-blue-2 lg:ml-0"
   role="alert"
>
   <span
      class="flex px-2 py-1 mr-3 text-xs font-bold text-center text-white uppercase rounded-full bg-gradient"
      >Current job</span
   >
   <span class="flex-auto mr-2 font-semibold text-left"
      >DevOps engineer @ 0per <span class="text-sm">(Zurich, 🇨🇭)</span></span
   >
</div>
