<footer
   class="py-4 text-sm text-white font-light text-center md:rounded-lg mx-auto mt-4 md:mt-8 inset-x-0 bottom-0 {$$props.class ||
      ''}"
>
   Super-Powered by <a class="text-white font-bold text-base" href="https://kit.svelte.dev">SvelteKit</a> and
   <a class="text-white font-bold text-base" href="https://tailwindcss.com">Tailwind/jit</a>
</footer>
